.profile-page {
  width: 90%;    
  max-width: 1000px;
  min-width: 900px; 
  min-height: 650px;
   margin: 100px auto 0;;
  padding: 48px 64px;
  background: #ffffff;
  border: 1px solid #fdeced;
  border-radius: 10px;
  display: flex;
  gap: 48px;
  font-family: "Segoe UI", Verdana, sans-serif;
  flex-wrap: wrap;
}


.profile-left {
  flex: 1;
  min-width: 360px;
}

.section-title {
  margin: 0 0 24px 0;
  font-size: 22px;
  font-weight: 600;
}

.pwd-title {
  margin-top: 48px;
}

.subtitle {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  color: #555;
}

.field-label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
}

.input {
  width: 100%;
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  background: #f0f0f0;
  font-size: 14px;
  margin-bottom: 20px;
}

.input.disabled {
  color: #999;
}

.pwd-inputs-container {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.pwd-inputs-container .input {
  flex: 1;
  font-size: 16px;
  padding: 14px 18px;
  margin-bottom: 0;
}

.primary-btn {
  display: block;
  margin: 10px 0 0 0;
  padding: 12px 40px;
  background: #f49ac1;
  border: none;
  border-radius: 14px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.input.narrow {
  width: 500px;
  max-width: 10000px;
}

.pwd-save-btn {
  margin-top: 0; 
}

.profile-right {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px; 
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.secondary-btn {
  width: 100%;
  padding: 14px 0;
  border: none;
  border-radius: 16px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s ease;
  margin-bottom: 20px;
}


.profile-photo {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -20px;
}

.secondary-btn {
  width: 100%;
  padding: 14px 0;
  border: none;
  border-radius: 16px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.btn-photo {
  background: #bb6d90;
}

.btn-upload {
  background: #f48cb0;
}

.btn-history {
  background: #fbd1e4;
}

.secondary-btn:hover {
  opacity: 0.92;
}
