  /* src/pages/Recuperacion.css */
.recover-wrapper {


  width: 200vh;
  height: 100vh;

  display: flex;
  justify-content: flex-start; /* Alinea la card a la izquierda */
  align-items: center;
  padding-left: 5%; /* Espacio desde el borde izquierdo */
}

.recover-title{
    font-family: 'Lora', sans-serif;

}

.recover-card {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  width: 100%;
  text-align: left; /* Alinea todo el contenido de la card a la izquierda */
}

.recover-title {
  font-size: 24px;
  text-align: left; /* Alinea solo el título a la izquierda */
  margin-bottom: 20px;
}

.input-group-eye {
  position: relative;
  padding-right: 35px;
}

.input-group-eye input {
  width: 100%;
  padding-right: 15px; /* espacio para el ícono */
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 40px;
  padding-right: 35px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #9b9b9b;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 12px;
}