/* ProductGrid-Private.css */
.product-grid-private {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  /* padding: 20px;  --> Eliminado para evitar doble margen */
}

@media (max-width: 1200px) {
  .product-grid-private {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .product-grid-private {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .product-grid-private {
    grid-template-columns: 1fr;
  }
}
