.layout {
  display: flex;
  height: 100vh;
  background-color: #ffe8e6;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
    /* 👇 Agrega esto para evitar centrado accidental */
  display: block;
  justify-content: unset;
  align-items: unset;
  text-align: left;
}
