/* QuantityCounter.css */
.quantity-counter {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: center;
  margin-bottom: 10px;
}

.quantity-counter button {
  width: 36px;
  height: 36px;
  background-color: #CFE8D5;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  line-height: 1;
  font-weight: normal;
}

.quantity-counter span {
  font-size: 16px;
  min-width: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .quantity-counter {
    gap: 10px;
  }
  
  .quantity-counter button {
    width: 32px;
    height: 32px;
    font-size: 18px;
  }
  
  .quantity-counter span {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .quantity-counter {
    gap: 18px;
  }
  
  .quantity-counter button {
    width: 40px;
    height: 40px;
    font-size: 22px;
  }
  
  .quantity-counter span {
    font-size: 18px;
  }
}