.eliminar-button {
  background-color: #f9a5c0;
  border: none;
  border-radius: 20px;
  padding: 6px 16px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.eliminar-button:hover {
  background-color: #e288a8;
}
